<button id="start-button" type="button" class="btn btn-secondary">Start</button>
<button id="stop-button" type="button" class="btn btn-secondary">Stop</button>
<button id="clear-button" type="button" class="btn btn-secondary">Clear</button>
<button id="full-button" type="button" class="btn btn-secondary">Full Screen</button>