<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
    <body>
        <div class="container">
            <h1>Computer Art - Gravity Planets</h1>
            <%- include('../partials/canvas') %>
            <%- include('../partials/buttons-canvas') %>
            <div class="mb-3 row">
                <div class="col">
                    <label>Simulation speed 100-2000</label>
                    <span id="simulation-speed-value" style="color:red;"></span>
                    <input type="range" class="form-range" min="100" max="2000" step="50" id="simulation-speed">
                </div>
                <div class="col">
                    <label>Gravity factor 1-10</label>
                    <span id="gravity-factor-value" style="color:red;"></span>
                    <input type="range" class="form-range" min="1" max="10" step="1" id="gravity-factor">
                </div>
            </div> 
            <div class="mb-3 row">
                <div class="col">
                    <label>Central size 20-35</label>
                    <span id="central-size-value" style="color:red;"></span>
                    <input type="range" class="form-range" min="20" max="35" step="5" id="central-size">
                </div>
                <div class="col">
                    <label>Ellipse factor 1.0-2.0</label>
                    <span id="ellipse-factor-value" style="color:red;"></span>
                    <input type="range" class="form-range" min="1.0" max="2.0" step="0.1" id="ellipse-factor">
                </div>
            </div>
            <div class="mb-3 row">
                <div id="list-planets" class="list-group">
                </div>
            </div>
            <div class="form-check form-switch">
                <div>
                    <input class="form-check-input" type="checkbox" id="clear-trace">
                    <label class="form-check-label" for="clear-trace">Clear trace</label>        
                </div>
                <div>
                    <input class="form-check-input" type="checkbox" id="planet-impact">
                    <label class="form-check-label" for="planet-impact">Planet impact</label>        
                </div>
            </div>
            <%- include('../partials/buttons-params') %>
            <button id="modal-remove" type="button" class="btn btn-primary">Remove Planet</button>
            <button id="modal-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#planet-modal">Add Planet</button>
            <div class="modal" tabindex="-1" role="dialog" id="planet-modal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Planet</h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <div class="col">
                                <label>Distance from center 40-220</label>
                                <span id="modal-distance-value" style="color:red;"></span>
                                <input type="range" class="form-range" min="40" max="220" step="5" id="modal-distance">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <label>Start angle 0-350</label>
                                <span id="modal-start-value" style="color:red;"></span>
                                <input type="range" class="form-range" min="0" max="350" step="10" id="modal-start">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col">
                                <label>Planet size 5-30</label>
                                <span id="modal-size-value" style="color:red;"></span>
                                <input type="range" class="form-range" min="5" max="30" step="1" id="modal-size">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button id="modal-save" type="button" class="btn btn-primary">Save changes</button>
                      <button id="modal-close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <script src="scripts/bootstrap.min.js"></script>
        <script src="scripts/drawart04.js"></script>
    </body>
</html>