<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div id="tab-container">
        <!-- Tab links -->
        <div class="tab">
            <ins class="tableft">Draw Art Selection</ins>
            <a class="tabright" href="/">Back</a>
        </div>
        <div class="tabcontent" >
            <form class="formcontent" action="<%= request %>">
                <input type="radio" name="art" value="drawart01" checked>
                <label>Moving Dots</label><br>
                <input type="radio" name="art" value="drawart02">
                <label>Moving Dots With Crashes</label><br>
                <input type="submit" value="Submit">
            </form>
        </div>
</div>
</body>
</html>