<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<title>Homeapp-Art</title>
</head>
    <body>
        <div class="d-grid p-3">
            <div class="row">
                <div class="col">
                    <div class="card p-2 bg-light border" style="width: 18rem;">
                        <img src="/img/drawart01.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Drawart 01</h5>
                        <p class="card-text">Pushing balls producing crashes.</p>
                        <a href="/drawart01" class="btn btn-primary">Go</a>
                        </div>
                    </div>        
                </div>
            <div class="col">
                <div class="card p-2 bg-light border" style="width: 18rem;">
                    <img src="/img/drawart02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Drawart 02</h5>
                    <p class="card-text">Gravity in a dust cloud.</p>
                    <a href="/drawart02" class="btn btn-primary">Go</a>
                    </div>
                </div>        
            </div>
            <div class="col">
                <div class="card p-2 bg-light border" style="width: 18rem;">
                    <img src="/img/drawart03.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Drawart 03</h5>
                    <p class="card-text">Asteroids in a solar system.</p>
                    <a href="/drawart03" class="btn btn-primary">Go</a>
                    </div>
                </div>        
            </div>
            <div class="col">
                <div class="card p-2 bg-light border" style="width: 18rem;">
                    <img src="/img/dummy.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Drawart 04</h5>
                    <p class="card-text">Planets in a solar system.</p>
                    <a href="/drawart04" class="btn btn-primary">Go</a>
                    </div>
                </div>        
            </div>
        </div>
    </div>
        <script src="scripts/bootstrap.min.js"></script>
    </body>
</html>